1. Create a tuple of 6 fruits and print: first, last, and middle item.

In [ ]:
fruits = ("apple", "banana", "mango", "orange", "grapes", "papaya")
print("First fruit:", fruits[0])
print("Last fruit:", fruits[-1])
print("Middle fruits:", fruits[2], "and", fruits[3])

First fruit: apple
Last fruit: papaya
Middle fruits: mango and orange

2.  Create a tuple (name , age , course ) and unpack values.

In [2]:
student = ("Shreya", 20, "BCA")
name, age, course = student
print("Name:", name)
print("Age:", age)
print("Course:", course)

Name: Shreya
Age: 20
Course: BCA

3.  Create two sets and print: union, intersection, and difference.

In [4]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
print("Union:", set1.union(set2))
print("Intersection:", set1.intersection(set2))
print("Difference:", set1.difference(set2))

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference: {1, 2}

4. Convert a list with repeated numbers to a set and print the set.

In [5]:
numbers = [1, 2, 2, 3, 4, 4, 5, 5, 5]
unique= set(numbers)
print("Unique numbers:", unique)

Unique numbers: {1, 2, 3, 4, 5}

5. Create a dictionary and print keys and values separately.

In [6]:
student = {"name": "Shreya", "age": 20, "course": "BCA"}
print("Keys:", student.keys())
print("Values:", student.values())

Keys: dict_keys(['name', 'age', 'course'])
Values: dict_values(['Shreya', 20, 'BCA'])

6.  Add "grade" and update "marks" value.

In [9]:
student = { "name": "Shreya", "marks": 85, "course": "BCA"}
student["grade"] = "A"
student["marks"] = 90
print(student)

{'name': 'Shreya', 'marks': 90, 'course': 'BCA', 'grade': 'A'}

7. Print all key-value pairs using a loop.

In [10]:
student = { "name": "Shreya", "age": 20, "course": "BCA", "marks": 90, "grade": "A"}
for key, value in student.items():
    print(key, ":", value)

name : Shreya
age : 20
course : BCA
marks : 90
grade : A