1. Welcome Message :  Print your name, branch, college,
 and favourite language

In [2]:
print("Shreya Rastogi ||", "BCA ||" , "GIHSM" )

Shreya Rastogi || BCA || GIHSM

2. User Info: Take name, age, city via input()
 and print

In [1]:
a=input("Your name=")
print(a)
b=int(input("Your age="))
print(b)

shreya
20

3. Basic Calculator: Perform +, -, *, / with user input

In [8]:
a=int(input("Enter first value"))
b=int(input("Enter second value="))
print(a+b, a-b, a*b, a/b)

3 -1 2 0.5

4. Variables & Types: Declare 5 variables & print their
 types using type()

In [ ]:
a = 11           
b = 3.1          
c = "Shreya"         
d = True         
e = [10, 20, 30]       
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'list'>

5. Swap Numbers: Swap values using tuple method

In [10]:
a=10
b=20
a,b=b,a
print(a,b)

20 10

6. String Formatting: Print a formatted introduction using f-string

In [1]:
name = "Shreya"
age = 20
course = "BCA"
print(f"Hello, my name is {name}. I am {age} years old and I am studying {course}.")

Hello, my name is Shreya. I am 20 years old and I am studying BCA.

7. Basic Arithmetic Program: Ask the user to enter two numbers and display the results of addition, subtraction, multiplication, and division.

In [ ]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
print(f"Addition: {a + b}")
print(f"Subtraction: {a - b}")
print(f"Multiplication: {a * b}")
print(f"Division: {a / b}")

Addition: 8
Subtraction: 2
Multiplication: 15
Division: 1.6666666666666667

8. Convert String Input: Take a number as a string, convert it into an integer and float then print the converted values and their types.

In [ ]:
num = input("Enter a number: ")
print(int(num))
print(type(int(num)))
print(float(num))
print(type(float(num)))

44
<class 'int'>
44.0
<class 'float'>

9. Compare Two Numbers: Input two numbers and print whether the first number is greater smaller, or equal to the second.

In [ ]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
print((a > b and "First number is greater.") or (a < b and "First number is smaller.") or "Both numbers are equal.")

First number is smaller.

10. Celsius  Fahrenheit Converter: Take a Celsius temperature from the user, convert it to Fahrenheit, and print the result.

In [9]:
c = float(input("Enter Celsius: "))
f = (c * 9/5) + 32
print(f)

42.8

11. Character Search in Word: Input a word and a character. Use the operator to check whether the character exists inside the word.

In [ ]:
a = input("Word: ")
c = input("Character: ")
print(c in a)

False

12. Identity Check Using: Create two variables (preferably lists). Check whether they refer to the same memory location using the is operator.

In [15]:
a = [1, 2, 3]
b = a
print(a is b)

True

13. Practice slicing on string using negative indexes and steps.

In [2]:
a = "python"
print(a[:-3])    
print(a[-5:-2])
print(a[-1:-7:-1])  
print(a[-2::-2])

pyt
yth
nohtyp
otp

14. Write a program that takes a user’s full name (with spaces), converts it to both uppercase and lowercase, uses strip() and split(), and then rejoins the words.

In [9]:
name = input("Enter your name: ")
name= name.strip()          
words = name.split()         
join = " ".join(words)     
print(name)
print(words)
print(join)
print("Uppercase:", join.upper())
print("Lowercase:", join.lower())

Shreya Rastogi
['Shreya', 'Rastogi']
Shreya Rastogi
Uppercase: SHREYA RASTOGI
Lowercase: shreya rastogi

15. Write a program that asks the user for their school name and favorite subject, then prints a sentence using both values.

In [10]:
school = input("Enter your school name: ")
subject = input("Enter your favorite subject: ")
print("My school name is", school, "and my favorite subject is", subject)

My school name is GIHSM and my favorite subject is Python

16. Take three numbers as input and calculate the average of them. Print the result.

In [11]:
a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
c = float(input("Enter third number: "))
avg = (a + b + c) / 3
print("Average is:", avg)

Average is: 20.033333333333335

17. Ask the user to input a decimal number. Convert it to integer and string, then print all values with their types.

In [6]:
num = float(input("Enter a decimal number: "))
a= int(num)        
b = str(num)        
print(num, type(num))
print(a, type(a))
print(b, type(b))

2.3 <class 'float'>
2 <class 'int'>
2.3 <class 'str'>

18. Ask the user for their age. If the age is between 13 and 19, print "Teenager"; otherwise print "Not a teenager". (Use the "and" operator.)

In [ ]:
age = int(input("Enter your age: "))
if age >= 13 and age <= 19:
    print("Teenager")
else:
    print("Not a teenager")

19. Take a word and check if the letter "e" exists inside it. Print "Found" or "Not found".

In [ ]:
word = input("Enter a word: ")
if "e" in word:
    print("Found")
else:
    print("Not found")

Found

20. Write a program to find the square and cube of a number entered by the user. (Use the "" operator.)

In [ ]:
n = int(input("Enter a number: "))
print("Square:", n**2)
print("Cube:", n**3)

Square: 9
Cube: 27

21. Input two floating numbers and print whether the first number is greater, smaller, or equal to the second.

In [ ]:
x = float(input("Enter first number: "))
y = float(input("Enter second number: "))
if x > y:
    print("First number is greater")
elif x < y:
    print("First number is smaller")
else:
    print("Both numbers are equal")

First number is smaller